<%= form_for [:admin, @checkin], :html => { :class => "form-horizontal checkin" } do |f| %>

  <div class="content">  
    <div class="container-fluid">
      <div class="row justify-content-center d-flex align-items-center">
        <div class="col-12">

           <div class="row">
            <div class="col-2">
              <div class="img-raised rounded img-fluid" id="divImagemFoto" align="center"> 
                
              </div>
            </div>
            <div class="col-5" style="padding: 25px">
              <div class="row nome"></div>

              <div class="row categoria"></div>

              <div class="row mensagem"></div>
            </div>

            <div class="col-5" id="divPendencias" style="padding-top: 25px" align="center"></div>

          </div>

          <div class="row">
            <div class="col-12" align="center">
              <applet name="NitgenApplet" codebase="/" code="br.com.sistemabinario.biometria.NitgenApplet.class" archive="NitgenApplet.jar?v=1" width="360" height="170">
                <param name="Caller-Allowable-Codebase" value = "*">
                    <param name="Permissions" value="all-permissions" />
                    <param name="separate_jvm" value="true"/>
              </applet>
            </div>
          </div>

           <div class="row">
            <div class="col-12" align="center">                 
              <button type="button" class="btn btn-warning btn-round" id="btnLimpar">Limpar Tela</button>                            
              <button type="button" class="btn btn-success btn-round" id="btnIniciarApplet">Iniciar checkin</button>                            
            </div>
          </div> 
        
          <div class="row">
            <div class="col-lg-12" align="center">
              
            </div>
          </div>        

          <%= f.hidden_field :person_id %>
          <%= f.hidden_field :company_id %>

        </div>
      </div>
    </div>
  </div>
<% end %>

<input type="text" id="fingerprint" style="visibility: hidden">

<script> 
  jQuery(function($){
    $('#liCheckIn').addClass("active"); 

    $("#btnLimpar").on("click", function(event) {
      event.preventDefault();
      $('#divImagemFoto').html("");
      $('.nome').html("");
      $('.categoria').html("");
      $('.mensagem').html("");
      $('#divPendencias').html("");
    }); 

    $("#fingerprint").on("change", function(event) {       
      if( $(this).val().length > 0) {
        search_fingerprint(event);
      }
    }); 

    var checkin = function(event) {
      event.preventDefault();
      var checkin_person_id  = $('#checkin_person_id').val();
      var checkin_company_id = $('#checkin_company_id').val();

      $.ajax({
        url: "/admin/checkins",
        type: "POST",
        data: {"checkin" : { "person_id" : checkin_person_id, "company_id" : "1" } },
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;
          alert('Entrada realizada com sucesso');
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert('Erro ao registrar entrada');
        }
      });
    };

    function search_fingerprint(event){
      event.preventDefault();      
      var fingerprint = $('#fingerprint').val();

      $.ajax({
        url: "/admin/people/search_fingerprint/",
        type: "GET",
        data: {},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;  
          var people = JSON.parse(json.people);
          var found = new Boolean(false);
          var person = null;

          $.each(people, function(i, item) {            
            if(buscaBiometria(people[i].fingerprint, fingerprint) ){
              found = true;
              person = people[i];                          
              return false;              
            }             
          });    

          if(found === true){
            $('#checkin_person_id').val(person.id);  
            checkin(event);

            var htmlPessoa = "<h4 style=\"font-weight:bold; font-size: x-large\">"+person.name+"</h4>";
            $('.nome').html(htmlPessoa);

            var htmlCategoria = "<span>Categoria: "+person.category.description+"</span>";   
            $('.categoria').html(htmlCategoria);

            if(json.message === "OK"){
              var htmlMensagem = "<span class=\"text-success\" style=\"font-weight:bold\">Entrada realizada com sucesso.</span>";
            } else {
              var htmlMensagem = "<span class=\"text-danger\" style=\"font-weight:bold\">Entrada não realizada.</span>";
            }
            $('.mensagem').html(htmlMensagem);
            
            var htmlPendencias = "<div class=\"row\"><div class=\"col-1\" align=\"right\"><i class=\"material-icons\" data-notify=\"icon\" style=\"color: #dc3545\">add_alert</i></div>";
            htmlPendencias += "<div class=\"col-10\" align=\"left\"><h4 class=\"text-danger\" style=\"font-weight:bold\">Pendências</h4></div></div>";
            $('#divPendencias').html(htmlPendencias);
            
            var htmlPhoto = "<img class=\"img_capa_zk\" id=\"image-output\" src=" + person.photo + " />"

            $('#divImagemFoto').html(htmlPhoto);            
          }else{
            $('#checkin_person_id').val("");  
            $("#btnLimpar").click();
            alert('Biometria não localizada');            
          }   
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert('Erro ao buscar cadastro');
        }
      });
    }

    //busca no banco a pessoa    
    $("#btnIniciarApplet").on("click", function(event) { 
      iniciarApplet(); 
      autenticacaoBiometrica();      
      event.preventDefault();             
    });

    function buscaBiometria(biometria, template){
      var isBiometria = iniciarApplet();
      return document.NitgenApplet.buscaBiometria(biometria, template);      
    }
    
    function autenticacaoBiometrica(){
      var isBiometria = iniciarApplet();  
      
      var template = document.NitgenApplet.getBiometria();
      $('#fingerprint').val(template);
      $('#fingerprint').trigger('change');
    }       

    function iniciarApplet(){
      var myApplet = $("#appletBiometria");
      var retorno = new Boolean(false);

      setTimeout(function() {
        try{
          myApplet.init();
          retorno = isVerificarErroSDK();
        } catch(ex){
          return false;
        }
      }, 2000);      
    }

    function autenticacaoBiometrica(){
      var isBiometria = iniciarApplet();  
      
      var template = document.NitgenApplet.getBiometria();
      $('#fingerprint').val(template);
      $('#fingerprint').trigger('change');
    }      

  });
</script> 
