<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>BiominiPlus</title>
		<script>
			//ARQUIVO DE EXEMPLO PARA TESTE DO APPLET
			
			function chamarAppletLeitura(){
				limparCamposLeitura();
				
				if(document.getElementById("template1").value != "" && document.getElementById("template2").value != ""){
					limparResultadoComparacao();
					limparTemplates();
				}
				
				var template = document.SupremaApplet.getTemplate();
				document.getElementById("template").value = template;
				if(template != null){
					var templateAux = template.split("@dados@");
					document.getElementById("tamanhoTemplate").value = templateAux[1];
				}
				
				if (document.getElementById("template1").value == "")
					document.getElementById("template1").value = template;
				else if (document.getElementById("template2").value == "")
					document.getElementById("template2").value = template;
				
				if(document.getElementById("template1").value != "" && document.getElementById("template2").value != "")
					chamarAppletComparacao();
				
				verificarErro();
			}
			
			function chamarAppletComparacao(){
				limparResultadoComparacao();
				
				var template1 = document.getElementById("template1").value;
				var template2 = document.getElementById("template2").value;
				
				var isBiometriaValida = document.SupremaApplet.getIsBiometriaValida(template1,template2);
				if (isBiometriaValida)
					document.getElementById("resultadoComparacao").value = "Válida";
				else
					document.getElementById("resultadoComparacao").value = "Inválida";
				
				verificarErro();
			}
			
			function verificarErro(){
				var codErro = document.SupremaApplet.getCodErro();
				document.getElementById("codErro").value = codErro;
				
				if (codErro != 0){
					var msgErro = document.SupremaApplet.getMensagemErro(codErro);
					document.getElementById("msgErro").value = msgErro;
				}
				
				document.getElementById("resp").value = ("Ok");
			}
			
			function limparCamposErro(){
				document.getElementById("codErro").value = "";
				document.getElementById("msgErro").value = "";
				document.getElementById("resp").value = "";
			}
			
			function limparCamposLeitura(){
				limparCamposErro();
				document.getElementById("template").value = "";
				document.getElementById("tamanhoTemplate").value = "";				
			}
			
			function limparResultadoComparacao(){
				limparCamposErro();
				document.getElementById("resultadoComparacao").value = "";
			}
			
			function limparTemplates(){
				document.getElementById("template1").value = "";
				document.getElementById("template2").value = "";
			}
			
			function limparTudo(){
				limparCamposErro();
				limparCamposLeitura();
				limparResultadoComparacao();
				limparTemplates();
			}
		</script>
	</head>
	<body>
		<div style="float:left; width:50%;">
			<b>Painel do Applet</b><br />
			<applet name="SupremaApplet" code="br.pucpr.pergamum.biometria.SupremaBioMiniApplet.class" archive="SupremaAppletSigned.jar?v=1" width="360" height="170">
				<param name="Caller-Allowable-Codebase" value = "*">
		        <param name="Permissions" value="all-permissions" />
		        <param name="separate_jvm" value="true"/>
			</applet>
			<br />
			<b>Leitura</b><br />
			Template:<br />
			<input type="text" id="template" value="" size="78">
			<br/>
			Tamanho template:<br />
			<input type="text" id="tamanhoTemplate" value="" size="78">			
			<br />
			<input type="button" onclick="chamarAppletLeitura();" value="Leitura Biométrica">			
		</div>
		<div style="float:left; width:50%;">
			<b>Comparação</b><br />
			Template 1:<br />
			<input type="text" id="template1" value="" size="78">
			<br />
			Template 2:<br />
			<input type="text" id="template2" value="" size="78">
			<br />
			Resultado:<br />
			<input type="text" id="resultadoComparacao" value="" size="78">
			<br />
			<input type="button" onclick="chamarAppletComparacao();" value="Comparar templates">			
			<br /><br />
			<br />
			
			<b>Execução</b><br />
			codErro:<br />
			<input type="text" id=codErro value="" size="78">
			<br />
			msgErro:<br />
			<input type="text" id=msgErro value="" size="78">
			<br />
			Confirmação:<br />
			<input type="text" id="resp" value="" size="78">
			<br />
			<input type="button" onclick="limparTudo();" value="Limpar Tudo">
		</div>
	</body>
</html>