<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>DigiScan</title>
		<script>
			//ARQUIVO DE EXEMPLO PARA TESTE DO APPLET
			
			function chamarAppletLeitura(){
				limparCamposLeitura();
				
				if(document.getElementById("template1").value != "" && document.getElementById("template2").value != ""){
					limparResultadoComparacao();
					limparTemplates();
				}
				
				var template = document.DigiScanApplet.getTemplate();
				document.getElementById("template").value = template;
				
				if (document.getElementById("template1").value == "")
					document.getElementById("template1").value = template;
				else if (document.getElementById("template2").value == "")
					document.getElementById("template2").value = template;
				
				if(document.getElementById("template1").value != "" && document.getElementById("template2").value != "")
					chamarAppletComparacao();
			}
			
			function chamarAppletComparacao(){
				limparResultadoComparacao();
				
				var template1 = document.getElementById("template1").value;
				var template2 = document.getElementById("template2").value;
				
				var isBiometriaValida = document.DigiScanApplet.getIsBiometriaValida(template1,template2);
				if (isBiometriaValida)
					document.getElementById("resultadoComparacao").value = "Válida";
				else
					document.getElementById("resultadoComparacao").value = "Inválida";
			}
			
			function limparCamposLeitura(){
				document.getElementById("template").value = "";
			}
			
			function limparResultadoComparacao(){
				document.getElementById("resultadoComparacao").value = "";
			}
			
			function limparTemplates(){
				document.getElementById("template1").value = "";
				document.getElementById("template2").value = "";
			}
			
			function limparTudo(){
				limparCamposLeitura();
				limparResultadoComparacao();
				limparTemplates();
			}
		</script>
	</head>
	<body>
		<div style="float:left; width:50%;">
			<b>Painel do Applet</b><br />
			<applet name="DigiScanApplet" code="br.pucpr.pergamum.biometria.DigiScanFS80Applet.class" archive="DigiScanFS80AppletSigned.jar?v=0" width="360" height="170">
				<param name="Caller-Allowable-Codebase" value = "*">
		        <param name="Permissions" value="all-permissions" />
		        <param name="separate_jvm" value="true"/>
			</applet>
			<br />
			<b>Leitura</b><br />
			Template:<br />
			<input type="text" id="template" value="" size="78">	
			<br />
			<input type="button" onclick="chamarAppletLeitura();" value="Leitura Biométrica">
			<input type="button" onclick="limparTudo();" value="Limpar Tudo">
		</div>
		<div style="float:left; width:50%;">
			<b>Comparação</b><br />
			Template 1:<br />
			<input type="text" id="template1" value="" size="78">
			<br />
			Template 2:<br />
			<input type="text" id="template2" value="" size="78">
			<br />
			Resultado:<br />
			<input type="text" id="resultadoComparacao" value="" size="78">
			<br />
			<input type="button" onclick="chamarAppletComparacao();" value="Comparar templates">			
			<br /><br />
			<br />
		</div>
	</body>
</html>