<%- model_class = Lean -%>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-success" data-background-color="green">
                <h4><%=t '.title', :default => [:'helpers.titles.edit', 'Novo %{model}'], :model => model_class.model_name.human.titleize %></h4>	                    
            </div>

            <div class="card-content">
            <div class="row">   
                <div class="col"> 
                <%= render :partial => 'form' %> 
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script> 
jQuery(function($){
    $('#liNovoEmprestimo').addClass("active"); 
});
</script> 