<tr>
  <%= f.hidden_field :tuition_id, class: "tuition-id" %>   
  <td class="tuition-identifier"></td>
  <td class="tuition-name"></td>
  <td class="tuition-amount"></td>
  <td class="div-btn-remover" align="center"></td>
</tr>