<div id="mensalidade" class="tab-pane fade">
    <div class="col-lg-12 box-shadow">   
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data de vencimento</th>
            <th>Valor</th>
            <th>Situação</th>
        </tr>
        </thead>
        <tbody>
        <% @tuitionPeople.each do |tuition| %>
        <tr>                                
            <td><%= tuition.due_date.strftime("%d/%m/%Y") %></td>
            <td><%= tuition.tuition.amount %></td>
            <td>
                <% if tuition.pay_day.nil? %>
                <%= "Pago" %>
                <% else %>            
                <%= "Pendente" %>
                <% end %>            
            </td>
        </tr>
        <% end %>
        </tbody>
    </table>
    </div>
</div>