/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap.min";
@import "material-dashboard";
@import "material-dashboard.min";
@import "material_icons";
@import "font-awesome";
@import "trix"; 
/* @import "mdDateTimePicker";
@import "themes/light/green/mdDateTimePicker";
*/
html, body {
   margin: 0;
   padding: 0;
   margin: 0;
 }

 .card-content{
   padding-left: 10px;
   padding-right: 10px;
 }

 .tfoot_empty{
   background-color: #FFFFFF;
 }

 .sidebar-wrapper>.nav>li{
     width:100% !important;
 }
 .nav>li{position:relative;display:block;}
 .nav>li>a{position:relative;display:block;padding:10px 15px}
 .nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee}
 .nav>li.disabled>a{color:#777}
 .nav>li.disabled>a:focus,.nav>li.disabled>a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}
 .nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:#eee;border-color:#337ab7}
 .nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
 .nav>li>a>img{max-width:none}
 .nav-tabs{border-bottom:1px solid #ddd}

 .bootstrap-select.show>.dropdown-menu>.dropdown-menu {
     display: block;
 }

 .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
     display:none;
 }

 .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
   display: block;
   padding: 3px1.5rem;
   clear: both;
   font-weight: 400;
   color: #292b2c;
   text-align: inherit;
   white-space: nowrap;
   background: 00;
   border: 0;
 }

 .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
   box-shadow: 0 2px 0px -1px rgba(0, 0, 0, 0.14), 
               0 3px 4px 2px rgba(0, 0, 0, 0.12), 
               0px 1px 1px 0px rgba(0, 0, 0, 0.2);
 }

/*  
 .bootstrap-select > .btn {
   width: 100%!important;
   padding-right: 25px;
   padding-bottom: 0;
 }
 .dropdown-toggle.btn-default {
   color: #292b2c;
   background-color: #ffffff;
   border-color: #cccccc;
 }
 .dropdown-toggle::after {
   display: inline;
   width: 2px;
   height: 2px;
   margin-top: -5%!important;
   margin-left: 94%;
   vertical-align: -0.05em;
   content: "";
   border-top: .7emsolid;
   border-right: .4emsolidtransparent;
   border-left: .4emsolidtransparent;
 }
 .bootstrap-select.btn-group .btn .filter-option {
   display: inline-block;
   overflow: hidden;
   width: 100%;
   padding-top: 2%;
   line-height: 1;
   box-sizing: border-box;
   text-align: left;
 }
 .light-blue-skin .btn-default.dropdown-toggle {
   background-color: #ffffff!important;
   color: #292b2c!important;
   box-shadow: none;
   border-bottom: 1pxsolid#bdbdbd;
   padding: 0;
 }
 .light-blue-skin .btn-default.dropdown-toggle:focus {
   color: #292b2c!important;
   width: 100%!important;
   background-color: #ffffff!important;
   outline: none!important;
 }
 .light-blue-skin .btn-default.dropdown-toggle:hover {
   color: #292b2c!important;
   width: 100%!important;
   background-color: #ffffff!important;
   outline: none!important;
 }
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
   width: 100%!important;
 }
*/  
 .fa-plus::before{
     padding-right: 5px;
 }
 
 .btn-fab > .fa-plus::before{
     padding-top: 25px;
 }
 
 .navbar{
     margin-bottom: 0px;
 }
 
 .navbar > li{
     width: 100%;
 }
 
 .z-tabpanel{
     padding: 0 20px 0px 15px;
 }
   
 .divBiometria{
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     width: 100%;
     height: 100%;
 }
 
 .alert{
   margin-bottom: 0px !important;
 }
 .title-row{
     color: #4caf50;
     padding: 5px;
     margin-left: -15px;
 }
 
 .z-datebox-input{
     background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
     background-size: 0 2px, 100% 1px;
     background-repeat: no-repeat;
     background-position: center bottom, center calc(100% - 1px);
     background-color: transparent;
     transition: background 0s ease-out;
     height: 36px;
 }
 
 .z-datebox-input, .z-datebox-button, .z-spinner, .z-doublespinner{
     border: none !important;
     margin: 10px 1px;
     padding: 7px 0;
 
 }
 
 .z-spinner-input, .z-spinner-button, .z-doublespinner-input, .z-doublespinner-button{
     min-height: 30px;
 }
 
 .form-control > .z-combobox-input{
     border-bottom: none !important;
 }
 
 .z-datebox-input:focus{
     box-shadow: none !important;
 }
 .z-tab-selected {
     background: #66bb6a !important;
 }
 
 .z-tab-text {
     color: #FFFFFF !important;
     background: linear-gradient(60deg, #66bb6a, #43a047) !important;
 }
 
 .z-button:focus{
     background: none !important;
 
     color: #000;
     border-color: #4caf50 !important;
     -moz-box-shadow: inset 0 0 2px #0CBCFF;
     box-shadow: inset 0 0 2px #0CBCFF;
 }
 
 .z-button:focus {
     color: #000;
     border-color: #00b9ff;
     background: none !important;
     background: none !important;
     -moz-box-shadow: inset 0 0 2px #0CBCFF;
     box-shadow: inset 0 0 2px #0CBCFF;
 }
 .z-button:hover {
     border-color: #4caf50 !important;
     background: none !important;
     background: none  !important;
 }
 
 .btn-success:hover{
     border-color: #4caf50 !important;
     background: #4caf50 !important;
     background: #4caf50  !important;
 }
 
 .btn-warning:hover{
     border-color: #ff9800 !important;
     background: #ff9800 !important;
     background: #ff9800  !important;
 }
 
 .btn-primary:hover{
     border-color: #9c27b0 !important;
     background: #9c27b0 !important;
     background: #9c27b0  !important;
 }
 
 
 .btn-login-top{
     border-radius: 10px 10px 0 0 !important;
 }
 .btn-login-bottom{
     border-radius: 0 0 10px 10px !important;
 }
 
 .background {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   z-index: 0;
   color: white;
 }
 
 .divImagemFoto2 {
   width: 50%;
   text-align: center;
   margin: 0px 0px 8px 25%;
 }

 .divImagemFoto2 > img{
   height: 110px;
 }  
 
 .nav > li > a {
   padding: 5px 15px;
 }

 .image-upload > input
 {
   display: none;
 }
 .image-upload > label{
   cursor:pointer;
 }
 .image-checkin{
   max-width: 100%;
   border-radius: 50%!important;
   height: auto;
 }
 
 #btnWebcam{
   cursor: pointer;
 }

 #btnExcluirFoto{
   cursor: pointer;
 }

 .divFoto img, .img_capa_zk  {
     width: 100%;
     border: solid 1px #ccc;
     border-radius: 100px;
     padding: 2px;
     margin-bottom: 5px;
     margin-top: 5px;
 }

 .divFoto img, .img_capa_zk2  {
   width: 75%;
   border: solid 1px #ccc;
   border-radius: 100px;
   padding: 2px;
   margin-bottom: 5px;
   margin-top: 5px;
}
 
 .z-window{
     background: linear-gradient(60deg, #66bb6a, #43a047) !important;
 }
 .z-window-header{
     color: #FFFFFF !important;
     padding: 3px 3px 5px 15px;
 }
 .z-window-content{
     padding: 0px;
 }
 .z-window-icon{
     border-radius: 10px;
     width: 28px;
     height: 26px;
 }
 .table thead > tr > th, .table tbody > tr > th,
 .table tfoot > tr > th, .table thead > tr > td,
 .table tbody > tr > td, .table tfoot > tr > td{
     padding-left: 6px !important;
 }
 .z-listbox{
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
                 0 7px 8px -5px rgba(156, 39, 176, 0.2);
 }
 .z-listbox-header{
     background: linear-gradient(60deg, #66bb6a, #43a047);
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
                 0 7px 8px -5px rgba(156, 39, 176, 0.2);
 }
 .z-listheader{
     border-bottom: none;
     background: none !important;
     background: transparent !important;
 }
 .z-listheader-content,
 .z-listgroup-content,
 .z-listfooter-content{
     color: #ffffff !important;
 }
 
 .mdl-layout {
     align-items: center;
     justify-content: center;
 }
 .mdl-layout__content {
     padding: 24px;
     flex: none;
 }
 .mdl-button {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
 }

 .form-control{
   border: none !important;    
 }

 .form-control:focus {
     border-color: none !important;
     outline: 0;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
 }