<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-success" data-background-color="green">
        <div class="row">
          <div class="col">
            <h4 class="title">Tipos de Cobrança</h4>                
          </div>              
        </div>
      </div>  

      <div class="row justify-content-center d-flex align-items-center">
        <div class="col-11">
          <div class="card-content table-responsive">
            
            <%= render :partial => 'form' %> 

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th colspan="2"></th>
                </tr>
              </thead>

              <tbody>
                <% @invoice_types.each do |invoice_type| %>
                  <tr>
                    <td><%= invoice_type.description %></td>
                    <td>
                    <% if permission 39 %> 
                      <%= link_to 'Remover', admin_invoice_type_path(invoice_type), method: :delete, data: { confirm: 'Tem certeza que deseja remover este tipo de cobrança?' } %>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br/>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<script> 
  jQuery(function($){
    $.notify("<%= notice %>", "success" );
  });
</script>