<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @admin_invoice_type.description %>
</p>

<%= link_to 'Edit', edit_admin_invoice_type_path(@admin_invoice_type) %> |
<%= link_to 'Back', admin_invoice_types_path %>
